<!DOCTYPE html>
<html>
<head>
  <%- include('layout/header') %>
  <style type="text/css">
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .outline {
      min-height: 85vh;
    }
    .container > h3 {
      letter-spacing: 3px;
    }
    .boards-list {
      margin-top: 30px;
    }
    .boards-item {
      margin-bottom: 30px;
    }
    .boards-item .row {
      display: flex !important;
    }
    .boards-item > h4 {
      color: #777;
      font-family: monospace;
      letter-spacing: 3px;
    }
  </style>
</head>
<body class="bg-light">
  <%- include('layout/navbar') %>
  <div class="outline jumbotron shadow-sm" style="background:#fff">
    <div class="container">
      <h3 class="display-5 mt-5">Downloads</h3>
      <ul class="boards-list">
        <% releases.forEach(function(item) { %>
        <li class="boards-item">
          <h4><%= item[0] %></h4>
          <div class="list-group list-group-flush">
            <% item[1].forEach(function(image) { %>
            <a class="row list-group-item list-group-item-action"
              href="<%= image.imageUri.flush %>"
              title="click to download">
              <div class="col"><%= getReleaseName(image.imageUri.flush) %></div>
              <div class="col-md-auto">v<%= image.version %></div>
              <div class="col col-1"><%= image.datetime.replace('.md', '') %></div>
            </a>
            <% }) %>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <%- include('layout/footer') %>
</body>
</html>
